.body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

#opener-image {
    height: auto;
    max-width: 500px;
    box-shadow: 0 0 20px rgb(243, 245, 245);
    border: solid 1px;
    border-color: rgb(204, 250, 250);
    border-radius: 5px;
}

#logo {
    height: auto;
    max-width: 70px;
    border-radius: 20px;
}

img {
    height:auto;
    max-width: 200px;
}

button {
    height: 30px;
    width: 85px;
    border-radius: 8px;
    background-color: #3882f6;
    color: white;
    font-weight: bold;
}

.top-button {
    border: none;
}

h1, h3,
h4 {
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

h4 {
    font-size: 48px;
    font-weight: bolder;
}

.header-section {
    display: flex;
    flex-direction: column;
    background-color: #29446b;
    color: white;
    padding: 24px;
}

.company-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

a,
.opener-text-and-button {
    font-size: 18px;
    color: #e5e7eb;
}

a {
    text-decoration: none;
    padding: 0 5px;
}

.opener,
.opener-text-and-button {
    display: flex;
    gap: 20px;
}

.opener {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 250px;
    gap: 200px;
}

.opener-text-and-button {
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 450px
}

.locations-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 250px;
    gap: 50px;
}

.location-cards {
    display: flex;
    gap: 32px;
}

.locations {
}

.quote-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: #e5e7eb;
    margin: 0;
    padding: 100px;
    gap: 20px;

}

.quote {
    height: auto;
    max-width: 500px;
    font-size: 36px;
    font-style: italic;
}

.customer {
    align-self: flex-end;
}