
/* || General Styles */

.body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

img {
    max-height: 100%;
    max-width: 100%;
}

h1, h3,
h4, p,
a {
    margin: 0;
    padding: 0;
}

a, p {
    font-size: 18px;
    color: #e5e7eb;
}

a {
    text-decoration: none;
    padding: 0 5px;
}

h3 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

h4 {
    font-size: 48px;
    font-weight: bolder;
}

button {
    height: 30px;
    width: 85px;
    border-radius: 8px;
    background-color: #3882f6;
    color: white;
    font-weight: bold;
}

.top-button {
    border: none;
}

.bottom-button {
    border: solid 2px white;
}

/* || General Layout for Each Section */

.opener,
.locations-section,
.quote-section,
.sign-up-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    width: auto;
}

.opener {
    gap: 100px;
}

.locations-section {
    flex-direction: column;
    gap: 50px;
}

.quote-section {
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #e5e7eb;
}

/* || Header */

.header-section {
    display: flex;
    flex-direction: column;
    background-color: #29446b;
    color: white;
    padding: 24px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.company-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

#logo {
    height: auto;
    max-width: 70px;
    border-radius: 20px;
}

.header-links {
    display: flex;
    gap: 16px;
}

/* || Opening Section */

.opener-text-and-button {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 450px;
    gap: 20px;
}

.opener-image {
    height: auto;
    max-width: 500px;
    box-shadow: 0 0 20px rgb(243, 245, 245);
    border-radius: 5px;
}

/* || Locations Section */

.location-cards {
    display: flex;
    gap: 32px;
}

.locations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 5px;
    border-color: #6c9eee;
    box-shadow: 10px 10px 5px grey;
    border-radius: 20px;
    margin: auto;
    padding: 20px;
    height: 150px;
    width: 150px;
    text-align: center;
    gap: 16px;
}

/* || Quote Section */

.quote {
    height: auto;
    max-width: 700px;
    font-size: 36px;
    font-style: italic;
}

.customer {
    display: flex;
    justify-content: flex-end;
    font-size: 28px;
    font-weight: bold;
    padding-top: 15px;
}

/* || Sign Up Section and Footer */

.blue-box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    background-color: #3882f6;
    height: 100px;
    width: 800px;
    border-radius: 10px;
    color: white;
}

.sign-up-text {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #29446b;
    color: white;
    margin-top: auto;
    min-height: 60px;
}