.body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

#logo {
    height: auto;
    max-width: 500px;
}

img {
    height:auto;
    max-width: 200px;
}

button {
    height: 30px;
    width: 85px;
    border-radius: 8px;
    background-color: #3882f6;
    color: white;
    font-weight: bold;
}

.top-button {
    border: none;
}

h1, h4 {
    margin: 0;
    padding: 0;
}

h4 {
    font-size: 48px;
    font-weight: bolder;
}

.header-section {
    display: flex;
    flex-direction: column;
    background-color: #29446b;
    color: white;
    padding: 24px 200px 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

a,
.opener-text-and-button {
    font-size: 18px;
    color: #e5e7eb;
}

a {
    text-decoration: none;
    padding: 0 5px;
}

.opener,
.opener-text-and-button {
    display: flex;
    gap: 20px;
}

.opener {
    padding-top: 100px;
}

.opener-text-and-button {
    flex-direction: column;
    flex-wrap: wrap;
    padding-right: 200px;
}

.locations-section {
    display: flex;
    flex-direction: column;
}

.location-cards {
    display: flex;
    gap: 16px;
}

.locations {
}